.analytics-container {
    padding-left: 180px;
  }
  
  @media screen and (max-width: 768px) {
    .analytics-container {
      padding-left: 20px;
    }
  }
  
  .analytics-heading {
    font-size: 40px;
    padding-left: 570px;
  }
  
  @media screen and (max-width: 768px) {
    .analytics-heading {
      padding-left: 20px;
    }
  }
  
  .analytics-span {
    color: #0066b2;
  }
  
  .filter-date-container {
    margin: 2px;
    padding: 20px 65px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .filter-label,
  .date-label {
    margin-bottom: 10px;
    margin-right: 20px;
  }
  
  .filter-span,
  .date-span {
    font-size: 18px;
  }
  
  .filter-select,
  .date-input {
    padding: 6px;
    font-size: 16px;
    background-color: #f5f5f5;
    padding: 12px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-left: 8px;
  }
  
  .chart-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 190px;
  }
  
  @media screen and (max-width: 768px) {
    .chart-container {
      padding-left: 20px;
    }
  }
  