.table-container{
  border-radius: 4px;
background: #DEF3FF;

}

.booking{
  color: #0071BA;

font-family: Poppins;
font-size: 29px;
font-style: normal;
font-weight: 500;
margin-top: 23px;
margin-left: 75px;
/* line-height: 26px; */
}