.table-container {
    max-height: 400px; /* Set the maximum height for the table container */
    overflow-y: auto; /* Enable vertical scrolling for the table body */
  }
  
  table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
  }
  
  thead {
    position: sticky;
    top: 0; /* Stick the header to the top */
    background-color: #0071BA; /* Background color for the header */
    color: white;
  }
  
  th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  /* Fix the header in place when scrolling */
  .sticky-thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .booking{
    text-align: left;
    margin-left: 60px;
  }
  
  /* Add a style for the red Cancel button */
.red-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
  }
  