/* .selected-day {
    background-color: blue;
    width: 100%;
    height: 100%;
  }
  .react-calendar__tile--active {
    background: #006edc;
    color: white;
}

.element.style {
    flex: 0 0 14.2857%;
    overflow: hidden;
    margin-inline-end: 0px;
    background-color: blue;
} */
.selected {
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #3498db;
  }
  /* .selected {
    background-color: white !important;
    color: black !important;
  } */
  .react-calendar {
    width: 600px;
height: 305px;
    max-width: 100%;
    background: #FFF;
    border: 2px solid #E9E9E9;
    border-radius: 8px;
    
    line-height: 1.125em;
    padding-top: 10px;
    text-align: center;
}

.calendar{
    padding-top:5px;
    padding-left:87px;
  align-items: center;
 
  
}