/* .selected-day {
    background-color: blue;
    width: 100%;
    height: 100%;
  }
  .react-calendar__tile--active {
    background: #006edc;
    color: white;
}

.element.style {
    flex: 0 0 14.2857%;
    overflow: hidden;
    margin-inline-end: 0px;
    background-color: blue;
} */
.selected {
    background-color: #3498db;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #3498db;

  }
  /* .selected {
    background-color: white !important;
    color: black !important;
  } */
  .react-calendar {
    width: 480px;
    height: 317px;
    max-width: 100%;
    background: #FFF;
    border: 0.5px solid #E9E9E9;
    border-radius: 8px;
    
    line-height: 1em;
    padding-top: 10px;
    text-align: center;
}

.calendar{
    padding-top:47px;
    padding-left:35px;
  align-items: center;
 
  
}



/* .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
  background: #ffffff;
} */
/* .react-calendar__tile--active {
 background-color: white;
  color: black !important; 
} */

/* .react-calendar__tile--active:enabled:hover {
  background: #ffffff;
} */


/* .react-calendar__tile--hasActive:enabled:hover, .react-calendar__tile--hasActive:enabled:focus{
background-color: white !important;
} */

.react-calendar__tile:disabled {
  background-color: white;
  pointer-events: none;
}

.react-calendar .booked {
  background-color: rgb(236, 232, 232);
  /* border-radius: 50px; */
  color: rgb(172, 166, 166);
}

.react-calendar .sunday {
  color: black; 
  background-color: rgb(196, 190, 190);
  opacity: 0.5; 
}

.react-calendar .saturday{
  color: black;
}

.react-calendar .previous-weekend {
  color: grey;
}

.disabled {
  background-color: green !important;
 
  padding: 3px 6px;
  color: white;
}









