.post {
  word-wrap: break-word; 
  white-space: pre-wrap; 
  padding: 10px;
  margin: 10px 0;
  
}
.post .MuiSvgIcon-root {
  font-size: 24px; 
  margin-left: 12px; 
  cursor: pointer;
  color: #0071BA;
}
/* CSS to change the color of the text as the user enters it
.input-text-color {
  color: #0071BA; 
} */

.post .MuiSvgIcon-root:hover {
  color: #4CAF50; 
}

.post .MuiSvgIcon-root:last-child:hover {
  fill: #FF5722;
}


/* .post > * {
  margin-right: 10px;
}

.post .MuiTextField-root {
  width: 100%; /* input will take the full width of its container */
/* } */

/* .post .MuiTextField-root input {
  word-wrap: break-word; /* to wrap within the input field */
 

