
.newsfeed {
   
    top: 0;
     
    width: 500px;
    background-color: #12184c;
    padding: 10px;
   
    border-radius: 5px;
    transition: right 0.3s; 
  }
  
  .news-feed h2 {
    font-size: 18px;
    margin-bottom: 12px;
  }
  
  .news-feed.visible {
    right: 0;
  }
  

  
/* element.style {
    flex: 1 1 0%;
    background-color: #071356;
    padding: 20px;
    max-width: 350px;
    height: 605px;
} */